{% extends "base.html.twig" %}
{% block navbar "" %}
{% block body %}
    {{ form_start(form) }}
    <div class="container register-form col-md-6">
        <div class="form">
            <div class="title">
                <p>Introduceti datele pentru a salva documentul</p>
            </div>
            <div class="form-content">
                <div class="row">
                    <div class="form-group col-md-6">
                       {{ form_row(form.fullname) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.locality) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.street) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.streetNr) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.hectare) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.CISeries) }}
                    </div>

                    <div class="form-group col-md-6">
                       {{ form_row(form.CINr) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_row(form.CNP) }}
                    </div>

                    <div class="form-group col-md-6">
                        {{ form_row(form.cubeMeters) }}
                    </div>
                </div>
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <ul>
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {{ form_end(form) }}
{% endblock %}
{% block pagination "" %}