<style>
    th,table,td {
        border: 1px solid black
    }
    table {
        border-collapse: collapse; border: 1px solid black
    }
    th,td {
        padding: 1px;
    }
</style>
{% block body %}
<table>
    <thead>
    <tr>
        <th style="">Nume</th>
        <th >Localitate</th>
        <th >Strada</th>
        <th >Numar casa</th>
        <th >Hectare</th>
        <th >Serie</th>
        <th >Numar</th>
        <th >CNP</th>
        <th >Mc</th>
    </tr>
    </thead>
    {% for document in documents%}
    <tbody>
    <tr>
        <td >{{ document.fullname }}</td>
        <td >{{ document.locality }}</td>
        <td >{{ document.street }}</td>
        <td >{{ document.streetNr }}</td>
        <td >{{ document.hectare }}</td>
        <td >{{ document.CISeries }}</td>
        <td >{{ document.CINr }}</td>
        <td >{{ document.CNP }}</td>
        <td >{{ document.cubeMeters }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}